<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutpaypal>
			<version>0.0.1</version>
		</Mage_Idealcheckoutpaypal>
	</modules>
	<global>
		<models>
			<idealcheckoutpaypal>
				<class>Mage_Idealcheckoutpaypal_Model</class>
			</idealcheckoutpaypal>
		</models>
		<resources>
			<idealcheckoutpaypal_setup>
				<setup>
					<module>Mage_Idealcheckoutpaypal</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutpaypal_setup>
			<idealcheckoutpaypal_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutpaypal_write>
			<idealcheckoutpaypal_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutpaypal_read>
		</resources>
		<blocks>
			<idealcheckoutpaypal>
				<class>Mage_Idealcheckoutpaypal_Block</class>
			</idealcheckoutpaypal>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutpaypal>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutpaypal</module>
					<frontName>idealcheckoutpaypal</frontName>
				</args>
			</idealcheckoutpaypal>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutpaypal>
				<active>0</active>
				<model>idealcheckoutpaypal/idealcheckoutpaypal</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>PayPal</title>
			</idealcheckoutpaypal>
		</payment>
	</default>
</config>
