<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutideal>
			<version>0.0.1</version>
		</Mage_Idealcheckoutideal>
	</modules>
	<global>
		<models>
			<idealcheckoutideal>
				<class>Mage_Idealcheckoutideal_Model</class>
			</idealcheckoutideal>
		</models>
		<resources>
			<idealcheckoutideal_setup>
				<setup>
					<module>Mage_Idealcheckoutideal</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutideal_setup>
			<idealcheckoutideal_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutideal_write>
			<idealcheckoutideal_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutideal_read>
		</resources>
		<blocks>
			<idealcheckoutideal>
				<class>Mage_Idealcheckoutideal_Block</class>
			</idealcheckoutideal>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutideal>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutideal</module>
					<frontName>idealcheckoutideal</frontName>
				</args>
			</idealcheckoutideal>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutideal>
				<active>0</active>
				<model>idealcheckoutideal/idealcheckoutideal</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>iDEAL</title>
			</idealcheckoutideal>
		</payment>
	</default>
</config>
