<?xml version="1.0"?>
<config>
    <modules>
        <TM_EasyLightbox>
            <version>1.0.0</version>
        </TM_EasyLightbox>
    </modules>
    <global>
        <helpers>
            <easylightbox>
                <class>TM_EasyLightbox_Helper</class>
            </easylightbox>
        </helpers>
        <resources>
            <easylightbox_setup>
                <setup>
                    <module>TM_EasyLightbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easylightbox_setup>
            <easylightbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easylightbox_write>
            <easylightbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easylightbox_read>
        </resources>
    </global>
	<default>
        <easy_lightbox>
            <general>
				<enabled>0</enabled>
                <defaulzoom>0</defaulzoom>
				<mainImageSize>265_265</mainImageSize>
				<popupImageSize>500_500</popupImageSize>
				<additionalImageSize>60_60</additionalImageSize>
                <productName>0</productName>
				<animate>1</animate>
				<overlayOpacity>0.8</overlayOpacity>
				<resizeSpeed>7</resizeSpeed>
				<borderSize>10</borderSize>
				<labelImage>Image</labelImage>
				<labelOf>of</labelOf>
            </general>
        </easy_lightbox>
    </default>
    <frontend>
        <layout>
            <updates>
                <easylightbox>
                    <file>easylightbox.xml</file>
                </easylightbox>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easy_lightbox translate="title" module="easylightbox">
                                            <title>Easy Lightbox Section</title>
                                            <sort_order>55</sort_order>
                                        </easy_lightbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>