<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutminitix>
			<version>0.0.1</version>
		</Mage_Idealcheckoutminitix>
	</modules>
	<global>
		<models>
			<idealcheckoutminitix>
				<class>Mage_Idealcheckoutminitix_Model</class>
			</idealcheckoutminitix>
		</models>
		<resources>
			<idealcheckoutminitix_setup>
				<setup>
					<module>Mage_Idealcheckoutminitix</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutminitix_setup>
			<idealcheckoutminitix_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutminitix_write>
			<idealcheckoutminitix_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutminitix_read>
		</resources>
		<blocks>
			<idealcheckoutminitix>
				<class>Mage_Idealcheckoutminitix_Block</class>
			</idealcheckoutminitix>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutminitix>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutminitix</module>
					<frontName>idealcheckoutminitix</frontName>
				</args>
			</idealcheckoutminitix>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutminitix>
				<active>0</active>
				<model>idealcheckoutminitix/idealcheckoutminitix</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>MiniTix</title>
			</idealcheckoutminitix>
		</payment>
	</default>
</config>
