<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutmistercash>
			<version>0.0.1</version>
		</Mage_Idealcheckoutmistercash>
	</modules>
	<global>
		<models>
			<idealcheckoutmistercash>
				<class>Mage_Idealcheckoutmistercash_Model</class>
			</idealcheckoutmistercash>
		</models>
		<resources>
			<idealcheckoutmistercash_setup>
				<setup>
					<module>Mage_Idealcheckoutmistercash</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutmistercash_setup>
			<idealcheckoutmistercash_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutmistercash_write>
			<idealcheckoutmistercash_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutmistercash_read>
		</resources>
		<blocks>
			<idealcheckoutmistercash>
				<class>Mage_Idealcheckoutmistercash_Block</class>
			</idealcheckoutmistercash>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutmistercash>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutmistercash</module>
					<frontName>idealcheckoutmistercash</frontName>
				</args>
			</idealcheckoutmistercash>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutmistercash>
				<active>0</active>
				<model>idealcheckoutmistercash/idealcheckoutmistercash</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>MisterCash</title>
			</idealcheckoutmistercash>
		</payment>
	</default>
</config>
