<?xml version="1.0"?>
<config>
	<modules>
			<Magestore_Onestepcheckout>
					<version>1.1.9</version>
			</Magestore_Onestepcheckout>
	</modules>
	<frontend>
		<secure_url>
            <onestepcheckout>/onestepcheckout/</onestepcheckout>
        </secure_url>
		<routers>
			<onestepcheckout>
				<use>standard</use>
				<args>
					<module>Magestore_Onestepcheckout</module>
					<frontName>onestepcheckout</frontName>
				</args>
			</onestepcheckout>
		</routers>
		<translate>
			<modules>
				<Magestore_Onestepcheckout>
					 <files>
							<default>Magestore_Onestepcheckout.csv</default>
					 </files>
				</Magestore_Onestepcheckout>
			</modules>
		</translate>
		<layout>
			<updates>
				<onestepcheckout>
					<file>onestepcheckout.xml</file>
				</onestepcheckout>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<onestepcheckoutadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Onestepcheckout</module>
					<frontName>onestepcheckoutadmin</frontName>
				</args>
			</onestepcheckoutadmin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<onestepcheckout>
					<file>onestepcheckout.xml</file>
				</onestepcheckout>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<magestore_onestepcheckout_observer>
						<type>singleton</type>
						<class>onestepcheckout/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</magestore_onestepcheckout_observer>
				</observers>
			</controller_action_predispatch_adminhtml>		
		</events>			
	</adminhtml>
	<global>
		<models>
			<onestepcheckout>
				<class>Magestore_Onestepcheckout_Model</class>
				<resourceModel>onestepcheckout_mysql4</resourceModel>
			</onestepcheckout>
			<onestepcheckout_mysql4>
				<class>Magestore_Onestepcheckout_Model_Mysql4</class>
				<entities>
					<onestepcheckout>
						<table>onestepcheckout</table>
					</onestepcheckout>
				</entities>
			</onestepcheckout_mysql4>
			<!-- Uncomment these lines for magento 1.3.x and older versions-->
			<!--<sales>
				<rewrite>
					<quote_address>Magestore_Onestepcheckout_Model_Address</quote_address>
				</rewrite>
			</sales>-->
		</models>
		<resources>
			<onestepcheckout_setup>
				<setup>
					<module>Magestore_Onestepcheckout</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</onestepcheckout_setup>
			<onestepcheckout_write>
				<connection>
					<use>core_write</use>
				</connection>
			</onestepcheckout_write>
			<onestepcheckout_read>
				<connection>
					<use>core_read</use>
				</connection>
			</onestepcheckout_read>
		</resources>
		<blocks>
			<onestepcheckout>
					<class>Magestore_Onestepcheckout_Block</class>
			</onestepcheckout>
		</blocks>
		<helpers>
			<onestepcheckout>
				<class>Magestore_Onestepcheckout_Helper</class>
			</onestepcheckout>
		</helpers>
		<events>
			<controller_action_predispatch_checkout_onepage_index>
				<observers>
					<magestore_onestepcheckout_observer>
						<type>singleton</type>
						<class>onestepcheckout/observer</class>
						<method>initController</method>
					</magestore_onestepcheckout_observer>
				</observers>
			</controller_action_predispatch_checkout_onepage_index>
			<checkout_type_onepage_save_order>
				<observers>
					<magestore_onestepcheckout_observer>
						<type>model</type>
						<class>Magestore_Onestepcheckout_Helper_Data</class>
						<method>saveOrderComment</method>
					</magestore_onestepcheckout_observer>
				</observers>
			</checkout_type_onepage_save_order>
			<checkout_type_onepage_save_order_after>
				<observers>
					<magestore_onestepcheckout_observer>
						<type>singleton</type>
						<class>onestepcheckout/observer</class>
						<method>notifyAdmin</method>
					</magestore_onestepcheckout_observer>
				</observers>
			</checkout_type_onepage_save_order_after>
		</events>
		<template>
			<email>
				<onestepcheckout_order_notification_template translate="label" module="onestepcheckout">
					<label>New Order Notification</label>
					<file>sales/new_order_notification.html</file>
					<type>html</type>
				</onestepcheckout_order_notification_template>
			</email>
		</template>
	</global>
	<default>
		<onestepcheckout>
			<general>
				<active>1</active>
				<show_shipping_address>1</show_shipping_address>
				<country_id>US</country_id>
				<postcode>90034</postcode>				
				<region_id>12</region_id>
				<use_for_disabled_fields>1</use_for_disabled_fields>
				<checkout_title>One step checkout</checkout_title>
				<checkout_description>Please fill in the fields below and click Place order to complete your purchase!</checkout_description>
				<page_layout>2columns</page_layout>
			</general>
			<field_management>
				<show_city>1</show_city>
				<show_zipcode>1</show_zipcode>
				<show_company>0</show_company>
				<show_fax>0</show_fax>
				<show_telephone>1</show_telephone>
				<show_region>1</show_region>
				<show_comment>0</show_comment>
				<show_newsletter>0</show_newsletter>
				<show_discount>0</show_discount>
				<enable_giftmessage>0</enable_giftmessage>
			</field_management>
			<checkout_mode>
				<show_login_link>1</show_login_link>
				<enable_registration>1</enable_registration>
				<allow_guest>1</allow_guest>
				<login_link_title>Already have an account?Click here to login</login_link_title>
			</checkout_mode>
			<ajax_update>
				<enable_ajax>1</enable_ajax>
				<ajax_fields>country,postcode,state/region,city</ajax_fields>
				<update_payment>1</update_payment>
				<reload_payment>1</reload_payment>
			</ajax_update>
			<terms_conditions>
				<enable_terms>0</enable_terms>
				<term_width>400</term_width>
				<term_height>250</term_height>
			</terms_conditions>
			<order_notification>
				<enable_notification>0</enable_notification>
				<template>onestepcheckout_order_notification_template</template>
			</order_notification>
		</onestepcheckout>
	</default>
</config>