<?xml version="1.0"?>
<config>
      <modules>
        <product_detail>
          <version>0.1.0</version>
        </product_detail>
      </modules>
      <global>
        <page>
          <layouts>
            <product_detail translate="label">
              <label>product_detail</label>
              <template>page/product_detail.phtml</template>
              <layout_handle>product_detail</layout_handle>
            </product_detail>
            <!-- add more layouts here -->
          </layouts>
        </page>
      </global>
</config>
