<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutdirectebanking>
			<version>0.0.1</version>
		</Mage_Idealcheckoutdirectebanking>
	</modules>
	<global>
		<models>
			<idealcheckoutdirectebanking>
				<class>Mage_Idealcheckoutdirectebanking_Model</class>
			</idealcheckoutdirectebanking>
		</models>
		<resources>
			<idealcheckoutdirectebanking_setup>
				<setup>
					<module>Mage_Idealcheckoutdirectebanking</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutdirectebanking_setup>
			<idealcheckoutdirectebanking_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutdirectebanking_write>
			<idealcheckoutdirectebanking_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutdirectebanking_read>
		</resources>
		<blocks>
			<idealcheckoutdirectebanking>
				<class>Mage_Idealcheckoutdirectebanking_Block</class>
			</idealcheckoutdirectebanking>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutdirectebanking>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutdirectebanking</module>
					<frontName>idealcheckoutdirectebanking</frontName>
				</args>
			</idealcheckoutdirectebanking>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutdirectebanking>
				<active>0</active>
				<model>idealcheckoutdirectebanking/idealcheckoutdirectebanking</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Direct E-Banking</title>
			</idealcheckoutdirectebanking>
		</payment>
	</default>
</config>
