<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutcreditcard>
			<version>0.0.1</version>
		</Mage_Idealcheckoutcreditcard>
	</modules>
	<global>
		<models>
			<idealcheckoutcreditcard>
				<class>Mage_Idealcheckoutcreditcard_Model</class>
			</idealcheckoutcreditcard>
		</models>
		<resources>
			<idealcheckoutcreditcard_setup>
				<setup>
					<module>Mage_Idealcheckoutcreditcard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutcreditcard_setup>
			<idealcheckoutcreditcard_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutcreditcard_write>
			<idealcheckoutcreditcard_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutcreditcard_read>
		</resources>
		<blocks>
			<idealcheckoutcreditcard>
				<class>Mage_Idealcheckoutcreditcard_Block</class>
			</idealcheckoutcreditcard>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutcreditcard>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutcreditcard</module>
					<frontName>idealcheckoutcreditcard</frontName>
				</args>
			</idealcheckoutcreditcard>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutcreditcard>
				<active>0</active>
				<model>idealcheckoutcreditcard/idealcheckoutcreditcard</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Credit Card</title>
			</idealcheckoutcreditcard>
		</payment>
	</default>
</config>
